In [111]:
#requires you to pip install onemapsg and register with onemapsg 

#this code just lets me manually find each exit of each expressway

from onemapsg import OneMapClient
import json
import os

Client = OneMapClient("chanyaokuan@gmail.com", redacted) #enter credentials here

Expressway = "Tampines Expressway" #change name of expressway here 

dictionary = Client.search(Expressway)
total_num_pages = dictionary.get('totalNumPages')

path = r"C:\Users\yaoz\Desktop\JSON Dump"

for i in range(1,total_num_pages+1):
    res = Client.search(Expressway, page_num = i)
    filepath = path + Expressway + str(i)
    f = open(filepath+ ".json", "w")
    json.dump(res, f)
    f.close()

In [132]:
dictionary2 = Client.search("ANG MO KIO AVE 4 170")
#dictionary2
dictionary2

{'found': 1,
 'totalNumPages': 1,
 'pageNum': 1,
 'results': [{'SEARCHVAL': 'KEBUN BARU LINK 1',
   'BLK_NO': '170',
   'ROAD_NAME': 'ANG MO KIO AVENUE 4',
   'BUILDING': 'KEBUN BARU LINK 1',
   'ADDRESS': '170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SINGAPORE 560170',
   'POSTAL': '560170',
   'X': '28346.4333322113',
   'Y': '39555.5342750959',
   'LATITUDE': '1.37400071781295',
   'LONGITUDE': '103.83643153142',
   'LONGTITUDE': '103.83643153142'}]}

In [197]:
#This segment of the code will load a pre-built table cleaned in Power BI based on Data.gov Resale HDB Prices. 
### Motive is to use OneMap API to get both postal code and LAT and LONG for these addresses and write them back to the same csv file.###
import pandas as pd 
import csv
from pandas import *
import numpy as np
df = pd.read_csv(r"C:\Users\yaoz\OneDrive - BAT\Desktop\Distinct Addresses.csv")
df

                      Address block   street_name         town
0     ADMIRALTY DR BLOCK 353A  353A  ADMIRALTY DR    SEMBAWANG
1     ADMIRALTY DR BLOCK 353B  353B  ADMIRALTY DR    SEMBAWANG
2     ADMIRALTY DR BLOCK 353C  353C  ADMIRALTY DR    SEMBAWANG
3     ADMIRALTY DR BLOCK 354A  354A  ADMIRALTY DR    SEMBAWANG
4     ADMIRALTY DR BLOCK 354B  354B  ADMIRALTY DR    SEMBAWANG
...                       ...   ...           ...          ...
9399         ZION RD BLOCK 87    87       ZION RD  BUKIT MERAH
9400         ZION RD BLOCK 88    88       ZION RD  BUKIT MERAH
9401         ZION RD BLOCK 89    89       ZION RD  BUKIT MERAH
9402         ZION RD BLOCK 90    90       ZION RD  BUKIT MERAH
9403         ZION RD BLOCK 91    91       ZION RD  BUKIT MERAH

[9404 rows x 4 columns]

In [199]:
#Pseudo code -> For each row in dataframe, iterate over columns street_name and block 
#Using result = Client.Search(street_name + block)
#latitude = result.get('results')[0].get('LATITUDE'), longitude = result.get('results')[0].get('LONGITUDE')
#write latitude val to column LAT and write longitude val to column LONG
#Next row

def iterativefunction(street_name,block):
    result = Client.search(street_name + " "+ block)
    latitude = result.get('results')[0].get('LATITUDE') 
    longitude = result.get('results')[0].get('LONGITUDE')
    with open('results.csv', 'a', encoding='UTF8', newline='') as f:
        writer = csv.writer(f)
        writer.writerow([latitude,longitude])
    f.close() 

i = 0    
    
for index, row in df.iterrows():
    try:
        iterativefunction(row['street_name'], row['block']) 
    except IndexError:
        with open('results.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("error occurred")
        continue
    i+=1 
    if i % 1000 == 0:
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000