In [52]:
import pandas as pd 
import math
from geopy.distance import geodesic
import csv
from pandas import *
import numpy as np

df = pd.read_csv(r"C:\Users\yaoz\OneDrive - BAT\Desktop\Complete Distinct Address.csv")
df

,town,block,street_name,Address,Index,latitude,longitude
0,TAMPINES,408,TAMPINES ST 41,TAMPINES ST 41 BLOCK 408,1278,1.348277,103.754681
1,TAMPINES,410,TAMPINES ST 41,TAMPINES ST 41 BLOCK 410,1279,1.347715,103.754995
2,TAMPINES,411,TAMPINES ST 41,TAMPINES ST 41 BLOCK 411,1280,1.347851,103.757774
3,TAMPINES,808,TAMPINES AVE 4,TAMPINES AVE 4 BLOCK 808,1281,1.347622,103.757150
4,TAMPINES,103,TAMPINES ST 11,TAMPINES ST 11 BLOCK 103,1282,1.347499,103.757617
...,...,...,...,...,...,...,...
9399,MARINE PARADE,77,MARINE DR,MARINE DR BLOCK 77,5920,1.398601,103.916203
9400,BUKIT TIMAH,15,TOH YI DR,TOH YI DR BLOCK 15,6395,1.444571,103.817847
9401,MARINE PARADE,80,MARINE PARADE CTRL,MARINE PARADE CTRL BLOCK 80,8204,1.432847,103.784550
9402,MARINE PARADE,15,MARINE TER,MARINE TER BLOCK 15,8215,1.430867,103.789555
9403,MARINE PARADE,16,MARINE TER,MARINE TER BLOCK 16,8295,1.442158,103.795609

In [49]:
df2 = pd.read_csv(r"C:\Users\yaoz\OneDrive - BAT\Desktop\Expressway Exits.csv")
df2

,Source.Name,found,totalNumPages,pageNum,results.SEARCHVAL,results.BLK_NO,results.ROAD_NAME,results.BUILDING,results.ADDRESS,results.POSTAL,results.X,results.Y,results.LATITUDE,results.LONGITUDE,results.LONGTITUDE
0,JSON DumpPan Island Expressway1.json,85,9,1,PIE EXIT 9,NaN,NIL,PIE EXIT 9,PIE EXIT 9,NIL,35611.89234,34189.06819,1.325467,103.901716,103.901716
1,JSON DumpPan Island Expressway1.json,85,9,1,PIE EXIT 8B,NaN,NIL,PIE EXIT 8B,PIE EXIT 8B,NIL,37405.32765,34935.28117,1.332215,103.917831,103.917831
2,JSON DumpPan Island Expressway1.json,85,9,1,PIE EXIT 8A,NaN,NIL,PIE EXIT 8A,PIE EXIT 8A,NIL,37605.23624,35029.49172,1.333067,103.919627,103.919627
3,JSON DumpPan Island Expressway1.json,85,9,1,PIE EXIT 6,NaN,NIL,PIE EXIT 6,PIE EXIT 6,NIL,38540.90400,35332.05124,1.335803,103.928035,103.928035
4,JSON DumpPan Island Expressway1.json,85,9,1,PIE EXIT 4B,NaN,NIL,PIE EXIT 4B,PIE EXIT 4B,NIL,41028.79681,36245.16697,1.344060,103.950390,103.950390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,JSON DumpEast Coast Parkway3.json,31,4,3,PARKLAND GREEN,920.0,EAST COAST PARKWAY,PARKLAND GREEN,920 EAST COAST PARKWAY PARKLAND GREEN SINGAPOR...,449875,36170.10530,31254.26754,1.298926,103.906731,103.906731
253,JSON DumpEast Coast Parkway3.json,31,4,3,ROAD SAFETY COMMUNITY PARK,910.0,EAST COAST PARKWAY,ROAD SAFETY COMMUNITY PARK,910 EAST COAST PARKWAY ROAD SAFETY COMMUNITY P...,449889,35751.66002,31192.14157,1.298364,103.902971,103.902971
254,JSON DumpEast Coast Parkway3.json,31,4,3,EAST COAST PARK OFFICE,906.0,EAST COAST PARKWAY,EAST COAST PARK OFFICE,906 EAST COAST PARKWAY EAST COAST PARK OFFICE ...,449895,35574.41746,31121.24030,1.297723,103.901378,103.901378
255,JSON DumpPan Island Expressway8.json,85,9,8,SHELL UPPER BUKIT TIMAH PIE,35.0,UPPER BUKIT TIMAH ROAD,SHELL UPPER BUKIT TIMAH PIE,35 UPPER BUKIT TIMAH ROAD SHELL UPPER BUKIT TI...,588166,21711.38611,35644.71446,1.338632,103.776812,103.776812
256,JSON DumpPan Island Expressway8.json,85,9,8,SHELL PAYA LEBAR PIE,98.0,PAYA LEBAR ROAD,SHELL PAYA LEBAR PIE,98 PAYA LEBAR ROAD SHELL PAYA LEBAR PIE SINGAP...,409008,34492.85714,33773.30765,1.321708,103.891660,103.891660

In [50]:
### This code stores 257 Expressway exits as a JSON? Dictionary? and then for each of the 9500+ distinct addresses, computes the closest exit with the distance and exit name
import pandas as pd 
import math
from geopy.distance import geodesic

def function(latitude,longitude):
    lst = []    
    try:
        address = (latitude,longitude)
    
        for index,row in df2.iterrows():
            exit = (row['results.LATITUDE'],row['results.LONGITUDE'])
            lst.append(geodesic(address,exit).km)
    
    
        min_value = min(lst)
        min_index = lst.index(min_value) 
    
        with open('output.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow([min_index, min_value]) 
            
    except ValueError:
        with open('output.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("zero")

In [51]:
for index, row in df.iterrows():
    i = 0
    try:
        function(row['latitude'], row['longitude']) 
    except IndexError:
        with open('output.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("error occurred")
        continue
    i+=1 
    if i % 1000 == 0:
        print(i)

In [53]:
df3 = pd.read_csv(r"C:\Users\yaoz\OneDrive - BAT\Desktop\mrtsg.csv")
df3

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585,103.800998,RED
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316433,103.882893,GREEN
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933,103.849553,RED
3,81,BAKAU LRT STATION,SE3,36026.0821,41113.8766,1.388093,103.905418,OTHERS
4,80,BANGKIT LRT STATION,BP9,21248.2460,40220.9693,1.380018,103.772667,OTHERS
...,...,...,...,...,...,...,...,...
184,175,WOODLANDS SOUTH MRT STATION,TE3,23607.8309,45444.7113,1.427260,103.793863,OTHERS
185,146,WOODLEIGH MRT STATION,NE11,32173.3186,35706.3794,1.339190,103.870808,PURPLE
186,6,YEW TEE MRT STATION,NS5,18438.9791,42158.0124,1.397535,103.747431,RED
187,41,YIO CHU KANG MRT STATION,NS15,29294.1283,40413.0820,1.381756,103.844944,RED
188,13,YISHUN MRT STATION,NS13,28187.6787,45686.0701,1.429443,103.835005,RED

In [54]:
### This code stores finds for each 9000+ address the closest MRT Station and distance

def function_v1(latitude,longitude):
    lst = []    
    try:
        address = (latitude,longitude)
    
        for index,row in df3.iterrows():
            exit = (row['Latitude'],row['Longitude'])
            lst.append(geodesic(address,exit).km)
    
    
        min_value = min(lst)
        min_index = lst.index(min_value) 
    
        with open('mrtdistance.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow([min_index, min_value]) 
            
    except ValueError:
        with open('mrtdistance.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("zero")



for index, row in df.iterrows():
    i = 0
    try:
        function_v1(row['latitude'], row['longitude']) 
    except IndexError:
        with open('mrtdistance.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("error occurred")
        continue
    i+=1 
    if i % 1000 == 0:
        print(i)

In [55]:
df4 = pd.read_csv(r"C:\Users\yaoz\OneDrive - BAT\Desktop\primaryschoolsg.csv")
df4

,Name,Type,GenderMix,Area,Zone,PostalCode,Latitude,Longitude,PlacestakenuptillPhase2B
0,Admiralty Primary School,Government,Mixed,Woodlands,North,738907,1.4427,103.7995,130
1,Ahmad Ibrahim Primary School,Government,Mixed,Yishun,North,768643,1.4333,103.8321,51
2,Ai Tong School,"Government-aided, SAP",Mixed,Bishan,South,579646,1.3603,103.8321,302
3,Alexandra Primary School,Government,Mixed,Bukit Merah,South,159016,1.2913,103.8233,82
4,Anchor Green Primary School,Government,Mixed,Sengkang,North,544969,1.3913,103.8863,101
...,...,...,...,...,...,...,...,...,...
185,Yuhua Primary School,Government,Mixed,Jurong East,West,609558,1.3434,103.7409,62
186,Yumin Primary School,Government,Mixed,Tampines,East,529393,1.3515,103.9515,77
187,Zhangde Primary School,Government,Mixed,Bukit Merah,South,169485,1.2847,103.8261,112
188,Zhenghua Primary School,Government,Mixed,Bukit Panjang,West,679002,1.3808,103.7689,99
189,Zhonghua Primary School,Government,Mixed,Serangoon,South,556095,1.3589,103.8711,51

In [56]:
### This code stores finds for each 9000+ address the closest Primary School and distance

def function_v2(latitude,longitude):
    lst = []    
    try:
        address = (latitude,longitude)
    
        for index,row in df4.iterrows():
            exit = (row['Latitude'],row['Longitude'])
            lst.append(geodesic(address,exit).km)
    
    
        min_value = min(lst)
        min_index = lst.index(min_value) 
    
        with open('schdistance.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow([min_index, min_value]) 
            
    except ValueError:
        with open('schdistance.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("zero")



for index, row in df.iterrows():
    i = 0
    try:
        function_v2(row['latitude'], row['longitude']) 
    except IndexError:
        with open('schdistance.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("error occurred")
        continue
    i+=1 
    if i % 1000 == 0:
        print(i)

In [57]:
df.to_csv('masterdata.csv')
df2.to_csv('expressway.csv')
df3.to_csv('mrt.csv')
df4.to_csv('primarysch.csv')

In [60]:
### This code stores finds for each 9000+ address the closest MRT Station and distance

def function_v1(latitude,longitude):
    lst = []    
    try:
        address = (latitude,longitude)
    
        for index,row in df3.iterrows():
            exit = (row['Latitude'],row['Longitude'])
            lst.append(geodesic(address,exit).km)
    
    
        min_value = min(lst)
        min_index = lst.index(min_value)
        print(df3['STN_NAME'].iloc[min_index])
    
        with open('test.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow([min_index, min_value]) 
            
    except ValueError:
        with open('test.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("zero")



for index, row in df.head().iterrows():
    i = 0
    print(row['Address'])
    try:
        function_v1(row['latitude'], row['longitude']) 
    except IndexError:
        with open('test.csv', 'a', encoding='UTF8', newline='') as f:
            writer = csv.writer(f)
            writer.writerow("error occurred")
        continue
    i+=1 
    if i % 1000 == 0:
        print(i)

TAMPINES ST 41 BLOCK 408
BUKIT BATOK MRT STATION
TAMPINES ST 41 BLOCK 410
BUKIT BATOK MRT STATION
TAMPINES ST 41 BLOCK 411
BUKIT BATOK MRT STATION
TAMPINES AVE 4 BLOCK 808
BUKIT BATOK MRT STATION
TAMPINES ST 11 BLOCK 103
BUKIT BATOK MRT STATION